@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", serif;
}

#hero-section {
  margin: 40px 120px 80px 120px;
  background-color: #c6e4d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 70px 50px 70px;
  border-radius: 24px;
  column-gap: 20px;
}

#hero .hero-content {
  width: 690px;
  margin: 0 auto;
}
.hero-content .hero-subtitle {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 26px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
  opacity: 0.6;
}

.hero-content .title {
  color: rgb(14, 14, 14);
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}
.hero-btn {
  padding: 20px 40px 20px 40px;
  border-radius: 8px;
  font-size: 20px;
  background: rgb(0, 106, 80);
  color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
  border: none;
  margin-top: 10px;
}
nav {
  margin: 100px 120px 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-primary {
  color: rgb(0, 106, 80);
  padding: 15px 30px 15px 30px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 4px;
}
.btn-primary:hover {
  background-color: rgb(0, 106, 80);
  color: white;
}
.card-container,
.card-container-2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 15px;
}
.card-1 {
  width: 280px;
  margin-top: 10px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 20px;
  background: white;
  border-radius: 18px;
}
.card-1 .content p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 10px;
}
#section-1 {
  margin: 100px 120px 80px 120px;
}

#section-1 .card-container .card-1 img {
  width: 50px;
  margin-bottom: 10px;
}
#section-2 {
  margin: 100px 120px 80px 120px;
}
.card-container-2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.card-2 {
  width: 350px;
  margin-top: 10px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 20px;
  border-radius: 18px;
}
.btn {
  margin-top: 10px;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  transition: transform 1s;
}
.btn-card-one {
  background-color: rgb(84, 144, 245);
}
.btn-card-two {
  background-color: rgb(9, 161, 92);
}
.btn-card-three {
  background-color: rgb(255, 194, 57);
}

#section-2 p {
  margin: 10px 0 10px 0;
  color: rgba(14, 14, 14, 0.7);
}

#Quote-Section {
  margin: 100px 120px 80px 120px;
}
.quote-content {
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 18px;
  background: #ffffff;
  background-image: url("/assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: 15px 8px;
  background-size: 45px 45px;
  padding: 20px 15px 25px 15px;
}

.quote-content p {
  color: rgba(14, 14, 14, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 5px;
}

.quote-content .lower-content p {
  color: rgba(14, 14, 14, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
#donate-section {
  margin: 100px 120px 80px 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.donate-heading h3 {
  text-align: center;
  margin-bottom: 10px;
}
.donate-heading p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}

.amount-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.amount {
  border: 1px solid rgba(14, 14, 14, 0.15);
  width: 250px;
  height: 80px;
  text-align: center;
  background: #ffffff;
  border-radius: 30px;
  font-size: 25px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 2s;
}
.amount:hover {
  background-color: #c6e4d6d6;
}
.donate-btn {
  background-color: rgb(0, 106, 80);
  width: 150px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

#donate-section .other-amount-box {
  width: 100%;

  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 10px 20px 10px 20px;
  background: white;
  border-radius: 10px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-bottom: 10px;
}

#donate-section .other-amount-box input {
  border: none;
  width: 100%;
  color: rgba(14, 14, 14, 0.3);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  cursor: pointer;
  text-align: left;
}

#donate-section .other-amount-box input::placeholder {
  text-align: center;
}
#donate-section .other-amount-box input:focus {
  outline: none;
}
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", serif;
}

#hero-section {
  margin: 20px 120px 30px 120px;
  background-color: #c6e4d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 70px 50px 70px;
  border-radius: 24px;
  column-gap: 20px;
}

#hero .hero-content {
  width: 690px;
  margin: 0 auto;
}
.hero-content .hero-subtitle {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 26px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
  opacity: 0.6;
}

.hero-content .title {
  color: rgb(14, 14, 14);
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}
.hero-btn {
  padding: 20px 40px 20px 40px;
  border-radius: 8px;
  font-size: 20px;
  background: rgb(0, 106, 80);
  color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
  border: none;
  margin-top: 10px;
}
nav {
  margin:40px 120px 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-primary {
  color: rgb(0, 106, 80);
  padding: 15px 30px 15px 30px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 4px;
}
.btn-primary:hover {
  background-color: rgb(0, 106, 80);
  color: white;
}
.card-container,
.card-container-2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 15px;
}
.card-1 {
  width: 280px;
  margin-top: 10px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 20px;
  background: white;
  border-radius: 18px;
}
.card-1 .content p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 10px;
}
#section-1 {
  margin: 20px 120px 50px 120px;
}

#section-1 .card-container .card-1 img {
  width: 50px;
  margin-bottom: 10px;
}
#section-2 {
  margin: 20px 120px 80px 120px;
}
.card-container-2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.card-2 {
  width: 350px;
  margin-top: 10px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 20px;
  border-radius: 18px;
}
.btn {
  margin-top: 10px;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  transition: transform 1s;
}
.btn-card-one {
  background-color: rgb(84, 144, 245);
}
.btn-card-two {
  background-color: rgb(9, 161, 92);
}
.btn-card-three {
  background-color: rgb(255, 194, 57);
}

#section-2 p {
  margin: 10px 0 10px 0;
  color: rgba(14, 14, 14, 0.7);
}

#Quote-Section {
  margin: 20px 120px 80px 120px;
}
.quote-content {
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 18px;
  background: #ffffff;
  background-image: url("/assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: 15px 8px;
  background-size: 45px 45px;
  padding: 20px 15px 25px 15px;
}

.quote-content p {
  color: rgba(14, 14, 14, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 5px;
}

.quote-content .lower-content p,#section-3 p{
  color: rgba(14, 14, 14, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
#donate-section {
  margin: 100px 120px 20px 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.donate-heading h3 {
  text-align: center;
  margin-bottom: 10px;
}
.donate-heading p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}

.amount-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.amount {
  border: 1px solid rgba(14, 14, 14, 0.15);
  width: 260px;
  height: 120px;
  text-align: center;
  background: #ffffff;
  border-radius: 30px;
  font-size: 25px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 2s;
}
.amount:hover {
  background-color: #c6e4d6d6;
}
.donate-btn {
  background-color: rgb(0, 106, 80);
  width: 150px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

#donate-section .other-amount-box {
  width: 100%;

  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 10px 20px 10px 20px;
  background: white;
  border-radius: 10px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-bottom: 10px;
}

#donate-section .other-amount-box input {
  border: none;
  width: 100%;
  color: rgba(14, 14, 14, 0.3);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  cursor: pointer;
  text-align: left;
}

#donate-section .other-amount-box input::placeholder {
  text-align: center;
}
#donate-section .other-amount-box input:focus {
  outline: none;
}
#section-3{
 margin: 100px 120px 50px 120px;

}
#section-3 p{
margin: 10px 0 10px 0;
}
.section-3-container{
    margin-top: 20px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content:space-around;
    align-items: start;
    gap: 20px;
}
.section-3-container .image-container{
    width: 400px;
    height: 280px;

}
.section-3-container .image-container img{
width: 320px;
border-radius: 30px;
}
.section-3-content{

}
.section-3-btn{
    background: rgb(0, 106, 80);
}

.container-2{
    display: flex;
    flex-direction: row-reverse;
}
#newslatter-section{
  border-radius:24px;
  margin: 0 120px 80px 120px;
  padding: 50px 70px 50px 70px;
  background: #c6e4d6;
}

#newslatter-section .newslatter-container{
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;

}

#newslatter-section .newslatter-container p{
  color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}

#newslatter-section .newslatter-container h3{
  font-size: 30px;
}
.input-box input
{
  border: none;
  width: 520px;
  padding:20px;
  border-top-left-radius: 10px;
border-bottom-left-radius: 10px;

}
.input-box input:focus{
  outline: none;
}
/* .input-box input::placeholder{
  margin-left: 20px;
} */
.input-box button{
background-color: #006a50;
color: white;
border: none;
padding:20px 30px;
margin-left:-10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

footer {
  background-color: #fff;
  margin: 20px 120px 0 120px;
  display: flex;
  flex-direction: column;
}
footer h3{
  margin-bottom: 40px;
  text-align: center;
}
footer .social-icon{
  margin-bottom: 20px;
  display: flex;
  justify-content:center;
}